<% content_for :title, "Profile" %>

<div class ='align-middle'>
	<div class="card mt-5 ml-5 mr-5" style="height:300px">
	  <div class="card-body">
	    <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
	    <p class="card-title"><strong>Age : </strong> <%= @user.age %></p>
	    <p class="card-title"><strong>From : </strong><%= link_to @city.name ,{controller: "cities", action: "show", id: @city.id}%></p>
	    <p class="card-text"> <strong>Bio:</strong><br/><%= @user.description %></p>
	    <p class="card-text"> <strong>Joined The Gossip Project : </strong><%= @user.created_at.strftime("%d/%m/%Y") %></p>
	    <p class="card-text"> <strong>Gossips shared : </strong><%= @nb_gossips %></p>
	    <p class="card-text"> <strong>Comments : </strong><%= @nb_comments %></p>
	  </div>
	</div>
</div>


<!-- DISPLAY DES GOSSIPS ASSOCIES A CET USER -->
<h1 class='text-center mt-2 mb-2'>Gossips From <%= @user.first_name %></h1>
<div class='container-fluid'>
	<div class="row">
		<% @gossips_arrray.each do |gossip| %>
			<div class="col-4 col-sm-4 col-md-4 col-lg-4 mt-5 text-center" style="width: 18rem">
			  <div class="card-body">
			    <h5 class="card-title"><%= gossip.title %></h5>
			    <p class="card-title">A gossip from : <%= link_to gossip.user.first_name , {controller: "users", action: "show", id: gossip.user.id}%></p>
			    <div class="mb-2">
			        <span >This gossip has <%= nb_gossip_likes?(gossip.id)%> <%= nb_gossip_likes?(gossip.id) > 1 ? 'Likes' : 'Like'%></span>
			        <% if logged_in? %>
			    	    <% if is_gossip_liked?(gossip.id) %>
			    	    <span class="ml-2">
			    	    	<%= link_to icon('fas', 'thumbs-up'),{controller: "gossip_likes", action: "destroy", id: gossip.id}, method: :delete, style: 'color:blue'%>
			    	    </span>
			    	    <% else %>
			    	    <span class= "ml-2 text-danger">
			    	    	<%= link_to icon('fas', 'thumbs-up'),{controller: "gossip_likes", method: "new", id: gossip.id}, method: :post, style: 'color:red'%>
			    	    </span>
			    	    <% end %>
			    	 <%else%>
			    	    	<span class="ml-2	"><%=icon('fas', 'thumbs-up')%></span>
			    	</div>
			        <% end %>
			    </div>
			    <%= link_to "See this Gossip", {controller: "gossips", action: "show", id: gossip.id}, class: 'btn btn-primary' %>
			  </div>
			</div>
		<%end%>
	</div>
</div>